  .swiper {
    max-width: 1240px;
    margin-inline: auto;
    width: 100%;
    height: 100%;
   
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    height: calc((100% - 30px) / 2) !important;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  