.cta {
    max-width: 1540px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.cta-left {
    background-color: #d3d3d3;
    padding-inline: 70px;
    
}

.cta-right {
    background-color: #bebebe;
    padding: 20px;
    
}