*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.description-container{
    padding-block: 20px;
    max-width: 1240px;
    width: 100%;
    margin-inline: auto;
}

.description-container h1{
    /* text-align: center; */
    padding-block: 40px;
    font-family: "Cormorant Garamond", serif;
    font-size: 3rem;
    font-weight: 300;
    /* text-transform: uppercase; */
}

.description-container h1 span{
    font-family: "Caveat", cursive;
    font-size: 3.5rem;
    font-weight: 600;
}

.description-content{
    display: grid;
    grid-template-columns: auto auto;
}

.description-content .description-image img{
    width: 100%;
    object-fit: contain;
}