/* .offers{
  max-width: 1240px;
  width: 100%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-inline: 20px;
  padding-block: 10px;
  border: 1px solid black;
 }

 .offers .grid-items{
  width: 100%;
 }

 .offers .grid-items img{
  width: 100%;
  object-fit: contain;
 }

  */

  .offers {
    max-width: 1240px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    grid-gap: 10px;
    padding: 10px;
    padding-block-start: 50px;
    /* border: 1px solid black; */
  }
  
  .grid-item {
    width: 100%;
  }
  
  .grid-item img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .offers {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  @media (max-width: 576px) {
    .offers {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  